html{
width: 100%;
height: auto;
margin: 0px;
padding: 0px;
background-color: black;
}

body{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

h2{
margin: 0px;
padding: 0px;}

header{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 15%;
    background-color: black;
}

main{
    height: 100%;
    background-color: black;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 50%;
    width: 50%;

    background-color: rgb(65, 65, 65);
    padding: 5px;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .search-bar input {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    width: 200px;
    padding: 5px;
    outline: none;

  }

  .search-bar button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }

header a{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20pt;
}

.orange{
    padding: 3px;
    background-color: orange;
    color: black;
}

#search{
    margin-top: auto;
    margin-bottom: auto;
}

#profile{
    margin-right: 20pt;
    margin-top: auto;
    margin-bottom: auto;
}

#types{
    width: 100%;
    background-color: black;
    height: 10%;
    display: flex;
    flex-direction: row;
}

#types a{
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: orange 1px solid;
}

.dropdown {
    background-color: black;
    color: white;
    padding: 10px;
    list-style-type: none;
    position: absolute;
    z-index: 9999;
    display: none;
  }
  
li {
    margin-bottom: 10px;
  }

a{
color: white;
text-decoration: none;}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;
  }

  .fullscreen.active {
    display: flex;
    max-height: max-content;
  }

.image{
    margin: 10pt;
}